<section id="boosters">
  <div class="container">
    <h2 class="boosters-title">Boosters & Combos</h2>
    <p class="boosters-description">Unleash Sweet Destruction with Strategy</p>
    <div class="boosters-container">
      <div class="girl-game-container">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/boosters-combos/girl_game_desktop.png    1x,
              /img/boosters-combos/girl_game_desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/boosters-combos/girl_game_mobile.png    1x,
              /img/boosters-combos/girl_game_mobile@2x.png 2x
            "
          />
          <img
            src="/img/boosters-combos/girl_game_mobile.png"
            alt="girl with fragment game"
            class="girl-game"
          />
        </picture>
        <p class="image-description">
          Use your boosters strategically for ultimate sugar domination.
        </p>
      </div>
      <ul class="boosters-list">
        <li class="boosters-list-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters-combos/clouds_lollipop_desktop.png    1x,
                /img/boosters-combos/clouds_lollipop_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/boosters-combos/clouds_lollipop_mobile.png    1x,
                /img/boosters-combos/clouds_lollipop_mobile@2x.png 2x
              "
            />
            <img
              src="/img/boosters-combos/clouds_lollipop_mobile.png"
              alt="girl width fragment game"
            />
          </picture>
          <p class="list-item-description">
            <span class="span-item-description">Lollipop Hammer</span> – Smashes
            one tile
          </p>
        </li>
        <li class="boosters-list-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters-combos/bomb_desktop.png    1x,
                /img/boosters-combos/bomb_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/boosters-combos/bomb_mobile.png    1x,
                /img/boosters-combos/bomb_mobile@2x.png 2x
              "
            />
            <img
              src="/img/boosters-combos/bomb_mobile.png"
              alt="girl width fragment game"
            />
          </picture>
          <p class="list-item-description">
            <span class="span-item-description">Candy Bomb</span>
            – <br />Clears a large area
          </p>
        </li>
        <li class="boosters-list-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters-combos/violet_candy_desktop.png    1x,
                /img/boosters-combos/violet_candy_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/boosters-combos/violet_candy_mobile.png    1x,
                /img/boosters-combos/violet_candy_mobile@2x.png 2x
              "
            />
            <img
              src="/img/boosters-combos/violet_candy_desktop.png"
              alt="girl width fragment game"
            />
          </picture>
          <p class="list-item-description">
            <span class="span-item-description">Stripe Candy</span>
            – <br />Zaps rows or columns
          </p>
        </li>
        <li class="boosters-list-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters-combos/pink_candy_desktop.png    1x,
                /img/boosters-combos/pink_candy_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/boosters-combos/pink_candy_mobile.png    1x,
                /img/boosters-combos/pink_candy_mobile@2x.png 2x
              "
            />
            <img
              src="/img/boosters-combos/pink_candy_mobile.png"
              alt="girl width fragment game"
            />
          </picture>
          <p class="list-item-description">
            <span class="span-item-description">Color Wheel</span> – Matches
            with every candy of one color
          </p>
        </li>
        <li class="boosters-list-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters-combos/rainbow_lollipop_desktop.png    1x,
                /img/boosters-combos/rainbow_lollipop_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/boosters-combos/rainbow_lollipop_mobile.png    1x,
                /img/boosters-combos/rainbow_lollipop_mobile@2x.png 2x
              "
            />
            <img
              src="/img/boosters-combos/rainbow_lollipop_mobile.png"
              alt="girl width fragment game"
            />
          </picture>
          <p class="list-item-description">
            <span class="span-item-description">Super Combo</span> – Combine
            special candies for sugar chaos!
          </p>
        </li>
        <li class="boosters-list-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/boosters-combos/landscape_desktop.png    1x,
                /img/boosters-combos/landscape_desktop@2x.png 2x
              "
            />
            <img
              src="/img/boosters-combos/landscape_desktop.png"
              alt="girl width fragment game"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
