<section id="candy">
  <div class="container">
    <h2 class="candy-title">Candy Kingdoms</h2>
    <p class="motto-candy">Explore a World Made of Sugar & Dreams</p>
    <p class="each-world">
      Each world brings a new theme and a different kind of challenge:
    </p>
    <!-- desktop -->
    <div class="desktop-container-cK">
      <div class="list-container">
        <div class="slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/yummi_desktop.png    1x,
                /img/candy-kingdoms/yummi_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/yummi_mobile.png    1x,
                /img/candy-kingdoms/yummi_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/yummi_mobile.png"
              alt="yummi teddy"
              class="slide-img"
            />
          </picture>

          <p class="slide-description">
            <span class="span-description">Gummy Grove</span> –
            beginner-friendly and bursting with fruit
          </p>
        </div>
        <div class="slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/shoko_desktop.png    1x,
                /img/candy-kingdoms/shoko_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/shoko_mobile.png    1x,
                /img/candy-kingdoms/shoko_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/shoko_mobile.png"
              alt="volcano"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Molten Fudge Mountain</span> –
            chocolate hazards and lava sweets
          </p>
        </div>
        <div class="slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/castle_desktop.png    1x,
                /img/candy-kingdoms/castle_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/castle_mobile.png    1x,
                /img/candy-kingdoms/castle_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/castle_mobile.png"
              alt="castle"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Licorice Castle</span> – guarded by
            stubborn blockers and tricky puzzles
          </p>
        </div>
        <div class="slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/rainbow_desktop.png    1x,
                /img/candy-kingdoms/rainbow_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/rainbow_mobile.png    1x,
                /img/candy-kingdoms/rainbow_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/rainbow_mobile.png"
              alt="rainbow"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Rainbow Swirl Skylands</span> –
            special candies fall from the clouds
          </p>
        </div>
        <div class="slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/water_desktop.png    1x,
                /img/candy-kingdoms/water_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/water_mobile.png    1x,
                /img/candy-kingdoms/water_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/water_mobile.png"
              alt="water and candy ship"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Marshmallow Bay</span> – water-themed
            sweets and floating goals
          </p>
        </div>
        <div class="slide-container">
          <div class="last-item-container">
            <p class="last-paragraph-swiper">
              Unlock new lands with each milestone and watch your kingdom grow!
            </p>
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/how-to-play/group_desktop.png    1x,
                  /img/how-to-play/group_desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/how-to-play/group_candy.png    1x,
                  /img/how-to-play/group_candy@2x.png 2x
                "
              />
              <img
                src="/img/how-to-play/group_candy.png"
                alt="candy"
                class="last-img"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
    <!-- swiper  -->
    <div class="swiper sw-ck">
      <div class="swiper-wrapper container-slide">
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/yummi_desktop.png    1x,
                /img/candy-kingdoms/yummi_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/yummi_mobile.png    1x,
                /img/candy-kingdoms/yummi_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/yummi_mobile.png"
              alt="yummi teddy"
              class="slide-img"
            />
          </picture>

          <p class="slide-description">
            <span class="span-description">Gummy Grove</span> –
            beginner-friendly and bursting with fruit
          </p>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/shoko_desktop.png    1x,
                /img/candy-kingdoms/shoko_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/shoko_mobile.png    1x,
                /img/candy-kingdoms/shoko_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/shoko_mobile.png"
              alt="volcano"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Molten Fudge Mountain</span> –
            chocolate hazards and lava sweets
          </p>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/castle_desktop.png    1x,
                /img/candy-kingdoms/castle_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/castle_mobile.png    1x,
                /img/candy-kingdoms/castle_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/castle_mobile.png"
              alt="castle"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Licorice Castle</span> – guarded by
            stubborn blockers and tricky puzzles
          </p>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/rainbow_desktop.png    1x,
                /img/candy-kingdoms/rainbow_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/rainbow_mobile.png    1x,
                /img/candy-kingdoms/rainbow_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/rainbow_mobile.png"
              alt="rainbow"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Rainbow Swirl Skylands</span> –
            special candies fall from the clouds
          </p>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/candy-kingdoms/water_desktop.png    1x,
                /img/candy-kingdoms/water_desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/candy-kingdoms/water_mobile.png    1x,
                /img/candy-kingdoms/water_mobile@2x.png 2x
              "
            />
            <img
              src="/img/candy-kingdoms/water_mobile.png"
              alt="water and candy ship"
              class="slide-img"
            />
          </picture>
          <p class="slide-description">
            <span class="span-description">Marshmallow Bay</span> – water-themed
            sweets and floating goals
          </p>
        </div>
        <div class="swiper-slide">
          <div class="last-item-container">
            <p class="last-paragraph-swiper">
              Unlock new lands with each milestone and watch your kingdom grow!
            </p>
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="
                  /img/how-to-play/group_desktop.png    1x,
                  /img/how-to-play/group_desktop@2x.png 2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  /img/how-to-play/group_candy.png    1x,
                  /img/how-to-play/group_candy@2x.png 2x
                "
              />
              <img
                src="/img/how-to-play/group_candy.png"
                alt="candy"
                class="last-img"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
