<section id="daily">
  <div class="container">
    <div class="wrap-title-daily">
      <h2>Daily Treats</h2>
      <h3>Login = Rewards. Simple as That.</h3>
    </div>
    <div class="daily-flex-wrapper">
      <div class="daily-row top-row">
        <div class="daily-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/gift_box_desk.png    1x,
                /img/daily-treats/gift_box_desk@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/daily-treats/gift_box_mob.png    1x,
                /img/daily-treats/gift_box_mob@2x.png 2x
              "
            />
            <img
              class="illustration-daily"
              src="/img/daily-treats/gift_box_mob.png"
              alt="gift box"
              width="136"
              height="136"
            />
          </picture>
          <p class="daily-item-text">Daily spin for boosters</p>
        </div>
        <div class="daily-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/game_desk.png    1x,
                /img/daily-treats/game_desk@2x.png 2x
              " />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/daily-treats/game_mob.png    1x,
                /img/daily-treats/game_mob@2x.png 2x
              " />
            <img
              class="illustration-daily"
              src="/img/daily-treats/game_mob.png"
              alt="game"
              width="136"
              height="136"
          /></picture>
          <p class="daily-item-text">7-day login bonuses</p>
        </div>
        <div class="daily-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/arrow_in_target_desk.png    1x,
                /img/daily-treats/arrow_in_target_desk@2x.png 2x
              " />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/daily-treats/arrow_in_target_mob.png    1x,
                /img/daily-treats/arrow_in_target_mob@2x.png 2x
              " />
            <img
              class="illustration-daily"
              src="/img/daily-treats/arrow_in_target_mob.png"
              alt="arrow in target"
              width="136"
              height="136"
          /></picture>
          <p class="daily-item-text">Weekly puzzle challenges</p>
        </div>
        <div class="daily-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/pazzle_desk.png    1x,
                /img/daily-treats/pazzle_desk@2x.png 2x
              " />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/daily-treats/pazzle_mob.png    1x,
                /img/daily-treats/pazzle_mob@2x.png 2x
              " />
            <img
              class="illustration-daily"
              src="/img/daily-treats/pazzle_mob.png"
              alt="pazzle"
              width="136"
              height="136"
          /></picture>
          <p class="daily-item-text">Special events for holidays and seasons</p>
        </div>
      </div>
      <div class="daily-row bottom-row">
        <div class="daily-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/sweet_cup_desk.png    1x,
                /img/daily-treats/sweet_cup_desk@2x.png 2x
              " />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/daily-treats/sweet_cup_mob.png    1x,
                /img/daily-treats/sweet_cup_mob@2x.png 2x
              " />
            <img
              class="illustration-daily"
              src="/img/daily-treats/sweet_cup_mob.png"
              alt="sweet cup"
              width="136"
              height="136"
          /></picture>
          <p class="daily-item-text">
            Compete for leaderboard spots in candy tournaments
          </p>
        </div>
        <div class="daily-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/prezent_num_desk.png    1x,
                /img/daily-treats/prezent_num_desk@2x.png 2x
              " />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/daily-treats/prezent_num_mob.png    1x,
                /img/daily-treats/prezent_num_mob@2x.png 2x
              " />
            <img
              class="illustration-daily"
              src="/img/daily-treats/prezent_num_mob.png"
              alt="prezent with number"
              width="136"
              height="136"
          /></picture>
          <p class="daily-item-text">Gift friends and request lives</p>
        </div>
        <div class="wrap-text-container">
          <span class="wrap-span-text">
            Play a little each day and reap the sweet rewards.
          </span>
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/daily-treats/candies_desk.png    1x,
                /img/daily-treats/candies_desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/daily-treats/candies_mob.png    1x,
                /img/daily-treats/candies_mob@2x.png 2x
              "
            />
            <img src="/img/daily-treats/candies_mob.png" alt="candies" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
