<section class="faq-section" id="faq">
  <div class="container">
    <div class="wrap-title-faq">
      <h2>FAQ</h2>
      <h3>Your Candy Questions, Answered...</h3>
    </div>

    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          /img/fag/girl_and_caramel_desk.png    1x,
          /img/fag/girl_and_caramel_desk@2x.png 2x
        "
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          /img/fag/girl_and_caramel_mob.png    1x,
          /img/fag/girl_and_caramel_mob@2x.png 2x
        "
      />
      <img
        class="illustration-faq"
        src="/img/fag/girl_and_caramel_mob.png"
        alt="girl and caramel"
        width="216"
        height="226"
      />
    </picture>

    <div class="faq-wrapper">
      <div class="faq-column">
        <div data-faq>
          <button data-faq-toggle>
            Is Candy Match 3 free to play?
            <svg class="ac-icon-up" data-ic="ac-icon-up" width="24" height="24">
              <use href="/img/sprite.svg#icon-minus"></use>
            </svg>
          </button>
          <div data-faq-content>
            Yes! Optional purchases available, but core gameplay is 100% free.
          </div>
        </div>
        <div data-faq>
          <button data-faq-toggle>
            Can I play offline?
            <svg class="ac-icon-up" data-ic="ac-icon-up" width="24" height="24">
              <use href="/img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <div data-faq-content>
            Absolutely. Most features work without internet.
          </div>
        </div>
        <div data-faq>
          <button data-faq-toggle>
            Are there lives or energy limits?
            <svg class="ac-icon-up" data-ic="ac-icon-up" width="24" height="24">
              <use href="/img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <div data-faq-content>
            Yes, but you can request lives from friends.
          </div>
        </div>
      </div>

      <div class="faq-column">
        <div data-faq>
          <button data-faq-toggle>
            What are stars for?
            <svg class="ac-icon-up" data-ic="ac-icon-up" width="24" height="24">
              <use href="/img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <div data-faq-content>Stars unlock bonus rewards and new maps.</div>
        </div>
        <div data-faq>
          <button data-faq-toggle>
            Can I sync progress across devices?
            <svg class="ac-icon-up" data-ic="ac-icon-up" width="24" height="24">
              <use href="/img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <div data-faq-content>Yes, via your Google Play account.</div>
        </div>
        <div data-faq>
          <button data-faq-toggle>
            How often are new levels added?
            <svg class="ac-icon-up" data-ic="ac-icon-up" width="24" height="24">
              <use href="/img/sprite.svg#icon-plus"></use>
            </svg>
          </button>
          <div data-faq-content>
            Every two weeks—you won’t run out of sweetness!
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
