<footer class="section-footer">
  <div class="footer container">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer-text-container">
      <p class="footer-text">caramelwizardmatch.com © 2025.</p>
      <p class="footer-text">All rights reserved.</p>
    </div>

    <ul class="policy-list">
      <li class="policy-item">
        <a class="policy-link" href="../privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="policy-item">
        <a class="policy-link" href="../terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="policy-item">
        <a class="policy-link" href="../cookies-policy.html">Cookies Policy</a>
      </li>
    </ul>

    <div class="social">
      <p class="social-text">Follow the Candy Wave:</p>
      <ul class="social-list">
        <li class="social-item">
          <a class="social-link" href="#"></a>
          <svg class="social-icon" width="20" height="20" aria-hidden="true">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="social-item">
          <a class="social-link" href="#"
            ><svg class="social-icon" width="20" height="20" aria-hidden="true">
              <use href="/img/sprite.svg#icon-fb"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a class="social-link" href="#"
            ><svg class="social-icon" width="20" height="20" aria-hidden="true">
              <use href="/img/sprite.svg#icon-youtube"></use></svg
          ></a>
        </li>
        <li class="social-item">
          <a class="social-link" href="#"
            ><svg class="social-icon" width="20" height="20" aria-hidden="true">
              <use href="/img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
