<header class="header">
  <div class="container">
    <div class="container-header">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="/img/header/logo-desktop@2x.png"
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/header/logo-mobile.png    1x,
            /img/header/logo-mobile@2x.png 2x
          "
        />
        <img
          src="/img/header/logo-mobile.png"
          alt="logo"
          width="30px"
          class="logo"
        />
      </picture>
      <button type="button" class="burger-menu" data-action="open">
        <svg class="burger-menu-icon" width="24px" height="20px">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <nav class="navigation">
        <ul class="list-navigation">
          <li class="item-navigation">
            <a href="#home" class="item-nav-link">Home</a>
          </li>
          <li class="item-navigation">
            <a href="#sweet" class="item-nav-link">The Sweet Experience</a>
          </li>
          <li class="item-navigation">
            <a href="#how" class="item-nav-link">How to Play</a>
          </li>
          <li class="item-navigation">
            <a href="#candy" class="item-nav-link">Candy Kingdoms</a>
          </li>
          <li class="item-navigation">
            <a href="#boosters" class="item-nav-link">Boosters & Combos</a>
          </li>
        </ul>
        <ul class="list-navigation-two">
          <li class="item-navigation">
            <a href="#puzzle" class="item-nav-link">Puzzle Paradise</a>
          </li>
          <li class="item-navigation">
            <a href="#daily" class="item-nav-link">Daily Treats</a>
          </li>
          <li class="item-navigation">
            <a href="#screenshots" class="item-nav-link">Screenshots</a>
          </li>
          <li class="item-navigation">
            <a href="#faq" class="item-nav-link">FAQ</a>
          </li>
        </ul>
      </nav>
      <div class="wrapper-menu" data-visible>
        <div class="content-menu">
          <button type="button" class="close-button" data-action="close">
            <svg class="close-button-icon" width="22px" height="22px">
              <use href="/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <ul class="list-menu">
            <li class="item-list-menu"><a href="#home">Home</a></li>
            <li class="item-list-menu">
              <a href="#sweet">The Sweet Experience</a>
            </li>
            <li class="item-list-menu"><a href="#how">How to Play</a></li>
            <li class="item-list-menu"><a href="#candy">Candy Kingdoms</a></li>
            <li class="item-list-menu">
              <a href="#boosters">Boosters & Combos</a>
            </li>
            <li class="item-list-menu">
              <a href="#puzzle">Puzzle Paradise</a>
            </li>
            <li class="item-list-menu"><a href="#daily">Daily Treats</a></li>
            <li class="item-list-menu">
              <a href="#screenshots">Screenshots</a>
            </li>
            <li class="item-list-menu"><a href="#faq">FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
