<section id="home">
  <div class="container">
    <div class="container-home">
      <h1 class="home-title">
        Pop. Match. <span>Relax.</span> <span>Welcome to</span> Candy Match 3
      </h1>
      <p class="home-paragraph-one">
        Step into a world made entirely of sugar, syrup, and <br />
        strategy! <br />
        Candy Match 3 is your daily candy escape — crush <br />
        colorful sweets, trigger juicy explosions, and master levels <br />
        designed <br />
        to both entertain and relax.
      </p>
      <p class="home-paragraph-two">
        Whether youʼre after a quick match or an evening-long unwind, Candy
        Match 3 is your sweet escape.
      </p>
      <div class="wrapper-link">
        <a
          href="https://play.google.com/store/apps/details?id=com.candy.match.three.puzzle&hl=en&gl=us"
          class="play-link"
          target="_blank"
        >
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/home/play-desktop.png    1x,
                /img/home/play-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/home/play-mobile.png    1x,
                /img/home/play-mobile@2x.png 2x
              "
            />
            <img src="/img/home/play-mobile.png" alt="play market logo" />
          </picture>
          Play for Free on Google Play
        </a>
      </div>
    </div>
  </div>
</section>
