<section id="how">
  <div class="container">
    <h2 class="how-title">How to Play</h2>
    <p class="how-paragraph">The Tastiest Puzzle You'll Ever Learn</p>
    <div class="how-container-list">
      <ul class="first-list">
        <li class="how-list-item">
          <picture>
            <source
              srcset="
                /img/how-to-play/flower_desktop.png    1x,
                /img/how-to-play/flower_desktop@2x.png 2x
              "
            />
            <img src="/img/how-to-play/element_flower.png" alt="flower" />
          </picture>
          <span class="span-for-list">1</span> Swipe to match 3 or more candies
          of the same type
        </li>
        <li class="how-list-item">
          <picture>
            <source
              srcset="
                /img/how-to-play/blue_desktop.png    1x,
                /img/how-to-play/blue_desktop@2x.png 2x
              "
            />
            <img src="/img/how-to-play/element_blue.png" alt="flower" />
          </picture>
          <span class="span-for-list">2</span> Match 4+ to create powerful
          special candies
        </li>
        <li class="how-list-item">
          <picture>
            <source
              srcset="
                /img/how-to-play/pink_desktop.png    1x,
                /img/how-to-play/pink_desktop@2x.png 2x
              "
            />
            <img src="/img/how-to-play/element_pink.png" alt="flower" />
          </picture>
          <span class="span-for-list">3</span> Use boosters wisely to overcome
          tough levels
        </li>
      </ul>
      <div class="text-container">
        <span class="span-text-container">
          From level 1, you’ll be hooked on that sweet feeling of progress.
        </span>
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/how-to-play/group_desktop.png    1x,
              /img/how-to-play/group_desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /img/how-to-play/group_candy.png    1x,
              /img/how-to-play/group_candy@2x.png 2x
            "
          />
          <img src="/img/how-to-play/group_candy.png" alt="flower" />
        </picture>
      </div>
      <ul class="second-list">
        <li class="how-list-item">
          <picture>
            <source
              srcset="
                /img/how-to-play/orange_desktop.png    1x,
                /img/how-to-play/orange_desktop@2x.png 2x
              "
            />
            <img src="/img/how-to-play/element_orange.png" alt="flower" />
          </picture>
          <span class="span-for-list">4</span> Clear sugar obstacles like jelly,
          chocolate, and waffles
        </li>
        <li class="how-list-item">
          <picture>
            <source
              srcset="
                /img/how-to-play/lolipop_desktop.png    1x,
                /img/how-to-play/lolipop_desktop@2x.png 2x
              "
            />
            <img src="/img/how-to-play/element_lolipop.png" alt="flower" />
          </picture>
          <span class="span-for-list exclude-style">5</span> Fill goals before
          moves run out
        </li>
        <li class="how-list-item">
          <picture>
            <source
              srcset="
                /img/how-to-play/green_desktop.png    1x,
                /img/how-to-play/green_desktop@2x.png 2x
              "
            />
            <img src="/img/how-to-play/element_green.png" alt="flower" />
          </picture>
          <span class="span-for-list">6</span> Keep matching to trigger combo
          blasts and earn sugar bonuses
        </li>
      </ul>
    </div>
  </div>
</section>
