<section id="policy">
  <div class="container">
    <a href="./index.html" class="custom-link-button-pol">
      <span class="inner-custom-link-button-pol">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/cookies-policy/element_pink_lg_button_desc.png    1x,
              /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/cookies-policy/element_pink_lg_button_mob.png    1x,
              /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
            "
          />
          <img
            class="button-icon-pol"
            src="/img/cookies-policy/element_pink_lg_button_mob.png"
            alt="icon"
            width="24"
            height="24"
          />
        </picture>
        <span class="button-text-pol">Go to home</span>
      </span>
    </a>
    <div class="content-wrapper-pol">
      <div class="content-block-pol">
        <h2 class="policy-title-pol">Cookies Policy</h2>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">
          Last Updated: <span class="body-text-pol">2025-05-16</span>
        </p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          This Cookies Policy explains what cookies are and how we use them. You
          should read this policy to understand what types of cookies we use,
          what data they collect, and how you can manage your preferences.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          Cookies do not typically contain personally identifiable information.
          However, in some cases, personal data that we store about you may be
          linked to information obtained from cookies. For more details, see our
          <a href="../privacy-policy.html">Privacy Policy.</a>
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">1. What Are Cookies?</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          Cookies are small text files stored on your device when you visit a
          website. They help websites function properly, remember preferences,
          and collect analytical data.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">2. How We Use Cookies</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">We use cookies to:</p>
        <ul class="list-pol body-text-pol">
          <li class="list-body-text-pol">
            Ensure the website functions correctly.
          </li>
          <li class="list-body-text-pol">
            Analyze user behavior and improve website performance.
          </li>
          <li class="list-body-text-pol">
            Personalize your experience and remember preferences.
          </li>
        </ul>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">3. Types of Cookies We Use</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          Cookies can be "session" or "persistent." Session cookies expire when
          you close your browser, while persistent cookies remain stored until
          manually deleted or they reach expiration.
        </p>
        <ul class="list-pol">
          <li class="title-block-polisy-pol">
            Necessary Cookies
            <p class="body-text-pol eight-pol">Type: Session Cookies</p>
            <p class="body-text-pol eight-pol">
              Purpose: Required for core website functions and security.
            </p>
          </li>
          <li class="title-block-pol">
            Functional Cookies
            <p class="body-text-pol eight-pol">Type: Persistent Cookies</p>
            <p class="body-text-pol eight-pol">
              Purpose: Remember user preferences (e.g., language, login
              details).
            </p>
          </li>
          <li class="title-block-pol">
            Analytics Cookies
            <p class="body-text-pol eight-pol">Type: Persistent Cookies</p>
            <p class="body-text-pol eight-pol">
              Purpose: Track user behavior and website performance using Google
              Analytics.
            </p>
          </li>
          <li class="title-block-pol">
            Advertising Cookies
            <p class="body-text-pol eight-pol">Type: Persistent Cookies</p>
            <p class="body-text-pol eight-pol">
              Purpose: Show relevant ads based on your browsing behavior.
            </p>
          </li>
        </ul>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">4. Managing Cookies</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          You can manage your cookie preferences through your browser settings.
          If you disable cookies, some features of the website may not function
          properly.
        </p>
        <ul class="list-pol">
          <li class="manage-list-item-pol">
            <a
              href="https://support.google.com/accounts/answer/32050"
              target="_blank"
              >Manage cookies in Chrome</a
            >
          </li>
          <li class="manage-list-item-pol">
            <a
              href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectslug=delete-cookies-remove-info-websites-stored&redirectlocale=en-US"
              target="_blank"
              >Manage cookies in Firefox</a
            >
          </li>
          <li class="manage-list-item-pol">
            <a
              href="https://support.microsoft.com/en-us/topic/how-to-delete-cookie-files-in-internet-explorer-bca9446f-d873-78de-77ba-d42645fa52fc"
              target="_blank"
              >Manage cookies in Internet Explorer</a
            >
          </li>
          <li class="manage-list-item-pol">
            <a
              href="https://support.apple.com/guide/safari/manage-cookies-sfri11471/mac"
              target="_blank"
              >Manage cookies in Safari
            </a>
          </li>
        </ul>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">5. Third-Party Cookies</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          Some third-party services (e.g., Google Analytics, advertising
          networks) may use cookies to collect information. These cookies are
          subject to their own privacy policies.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">6. Changes to This Policy</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          We may update this Cookies Policy periodically. Significant changes
          will be communicated via the website.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">7. Contact Us</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          If you have any questions about this Cookies Policy, you can contact
          us at
        </p>
        <a
          class="links-pol policy-contact-link-pol"
          href="mailto:info@caramelwizardmatch.com"
          >info@caramelwizardmatch.com</a
        >
      </div>
    </div>
  </div>
</section>
