<section id="privacy">
  <div class="container">
    <a href="./index.html" class="custom-link-button">
      <span class="inner-custom-link-button">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/cookies-policy/element_pink_lg_button_desc.png    1x,
              /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/cookies-policy/element_pink_lg_button_mob.png    1x,
              /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
            "
          />
          <img
            class="button-icon"
            src="/img/cookies-policy/element_pink_lg_button_mob.png"
            alt="icon"
            width="24"
            height="24"
          />
        </picture>
        <span class="button-text">Go to home</span>
      </span>
    </a>
    <div class="content-wrapper">
      <div class="content-block">
        <h2 class="policy-title">Privacy Policy</h2>
      </div>

      <div class="content-block">
        <p class="title-block-polisy">
          Last Updated: <span class="body-text">2025-05-16</span>
        </p>
      </div>
      <div class="content-block">
        <p class="body-text">
          This Privacy Policy applies to the caramelwizardmatch.com website
          (hereinafter referred to as "Website"). By accessing or using our
          services, you agree to the collection and use of information as
          described in this policy.
        </p>
      </div>
      <div class="content-block">
        <p class="title-block-polisy">1. Information We Collect</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          The Website may collect the following types of data:
        </p>
      </div>
      <div class="content-block">
        <ul class="list">
          <li class="title-block-polisy">
            Personal Information:
            <span class="body-text"
              >Name, email address, and other details if voluntarily
              provided.</span
            >
          </li>
          <li class="title-block-polisy">
            Technical Data:
            <span class="body-text"
              >IP address, browser type, and device information for analytics
              purposes.</span
            >
          </li>
          <li class="title-block-polisy">
            Cookies & Tracking:
            <span class="body-text"
              >We use cookies to enhance user experience and track usage
              trends.</span
            >
          </li>
        </ul>
      </div>

      <div class="content-block">
        <p class="title-block-polisy">2. How We Use Your Information</p>
      </div>
      <div class="content-block">
        <p class="body-text">The data we collect may be used for:</p>
        <ul class="list body-text">
          <li class="list-body-text">Providing and improving our services.</li>
          <li class="list-body-text">
            Enhancing website security and preventing fraud.
          </li>
          <li class="list-body-text">
            Analyzing trends and user behavior through analytics tools.
          </li>
        </ul>
      </div>

      <div class="content-block">
        <p class="title-block-polisy">3. Cookies and Tracking Technologies</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          We use cookies and similar technologies to personalize content, track
          website performance, and improve user experience. Users can manage or
          disable cookies through browser settings.
        </p>
      </div>

      <div class="content-block">
        <p class="title-block-polisy">4. Third-Party Services</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          We may use third-party services such as Google Analytics to monitor
          traffic and improve services. These services have their own privacy
          policies, which can be reviewed on their respective websites. Below
          are the links to the Privacy Policy of the third-party service
          providers used by the Application:
        </p>
        <ul class="list eight">
          <li class="manage-list-item">
            <a href="https://policies.google.com/privacy" target="_blank"
              >Google Play Services</a
            >
          </li>
          <li class="manage-list-item">
            <a
              href="https://firebase.google.com/support/privacy"
              target="_blank"
              >Google Analytics for Firebase</a
            >
          </li>
          <li class="manage-list-item">
            <a
              href="https://www.facebook.com/about/privacy/update/printable"
              target="_blank"
              >Facebook</a
            >
          </li>
        </ul>
      </div>
      <div class="content-block">
        <p class="title-block-polisy">5. Data Security</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          We implement security measures to protect collected information from
          unauthorized access or misuse. However, no method of transmission over
          the internet is 100% secure.
        </p>
      </div>
      <div class="content-block">
        <p class="title-block-polisy">6. Children's Privacy</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          Our Website is not intended for children under 13, and we do not
          knowingly collect personal data from them. If we become aware that a
          child has provided information, we will take steps to delete it.
        </p>
      </div>
      <div class="content-block">
        <p class="title-block-polisy">7. Changes to This Policy</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          We may update this Privacy Policy periodically. Users will be notified
          of significant changes through the Website. Continued use of the
          Website after modifications implies acceptance of the updated policy.
        </p>
      </div>
      <div class="content-block">
        <p class="title-block-polisy">8. Your Rights</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          Under applicable laws (e.g., GDPR, CCPA), you have rights to:
        </p>
        <ul class="list body-text">
          <li class="list-body-text">
            Access, update, or delete your personal data.
          </li>
          <li class="list-body-text">Withdraw consent for data collection.</li>
          <li class="list-body-text">
            Request a copy of the data we store about you.
          </li>
        </ul>
      </div>
      <div class="content-block">
        <p class="body-text">To exercise your rights, contact us via email.</p>
      </div>

      <div class="content-block">
        <p class="title-block-polisy">9. Contact Us</p>
      </div>
      <div class="content-block">
        <p class="body-text">
          If you have any questions or concerns about this Privacy Policy,
          please contact us at
          <a
            class="links policy-contact-link"
            href="mailto:info@caramelwizardmatch.com"
            >info@caramelwizardmatch.com</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
