<section id="puzzle">
  <div class="container">
    <div class="wrap-title-puzzle">
      <h2>Puzzle Paradise</h2>
      <h3>Thousands of Juicy Challenges Await</h3>
    </div>
    <div class="wrap-content-puzzle">
      <div class="inner-ill">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/puzzle-paradise/village_of_sweets_desc.png    1x,
              /img/puzzle-paradise/village_of_sweets_desc@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/puzzle-paradise/village_of_sweets_mob.png    1x,
              /img/puzzle-paradise/village_of_sweets_mob@2x.png 2x
            "
          />
          <img
            class="illustration-puzzle"
            src="/img/puzzle-paradise/village_of_sweets_mob.png"
            alt="village of sweets"
            width="288"
            height="245"
          />
        </picture>
      </div>
      <div class="inner-items">
        <div class="inner-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_desc.png    1x,
                /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_mob.png    1x,
                /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
              "
            />
            <img
              class="thumb"
              src="/img/cookies-policy/element_pink_lg_button_mob.png"
              alt="icon"
              width="32"
              height="32"
            />
          </picture>
          <p class="body-text-puzzle">Over 3,000 levels and counting</p>
        </div>
        <div class="inner-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_desc.png    1x,
                /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_mob.png    1x,
                /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
              "
            />
            <img
              class="thumb"
              src="/img/cookies-policy/element_pink_lg_button_mob.png"
              alt="icon"
              width="32"
              height="32"
            />
          </picture>
          <p class="body-text-puzzle">
            Levels range from relaxing to brain-burning
          </p>
        </div>
        <div class="inner-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_desc.png    1x,
                /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_mob.png    1x,
                /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
              "
            />
            <img
              class="thumb"
              src="/img/cookies-policy/element_pink_lg_button_mob.png"
              alt="icon"
              width="32"
              height="32"
            />
          </picture>
          <p class="body-text-puzzle">
            Progressive difficulty curve - gentle, but challenging
          </p>
        </div>
        <div class="inner-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_desc.png    1x,
                /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_mob.png    1x,
                /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
              "
            />
            <img
              class="thumb"
              src="/img/cookies-policy/element_pink_lg_button_mob.png"
              alt="icon"
              width="32"
              height="32"
            />
          </picture>
          <p class="body-text-puzzle">
            Dynamic obstacles - licorice locks, jelly spread, honey traps
          </p>
        </div>
        <div class="inner-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_desc.png    1x,
                /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_mob.png    1x,
                /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
              "
            />
            <img
              class="thumb"
              src="/img/cookies-policy/element_pink_lg_button_mob.png"
              alt="icon"
              width="32"
              height="32"
            />
          </picture>
          <p class="body-text-puzzle">
            Special puzzle formats every 10th level
          </p>
        </div>
        <div class="inner-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_desc.png    1x,
                /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
              "
            />
            <source
              media="(max-width: 1199px)"
              srcset="
                /img/cookies-policy/element_pink_lg_button_mob.png    1x,
                /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
              "
            />
            <img
              class="thumb"
              src="/img/cookies-policy/element_pink_lg_button_mob.png"
              alt="icon"
              width="32"
              height="32"
            />
          </picture>
          <p class="body-text-puzzle">
            Earn stars, unlock gifts, and track your progress
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
