<section id="screenshots">
  <div class="container screenshots-container">
    <div class="wrap-title-scr">
      <h2>Screenshots</h2>
      <h3>Screenshots & promo visuals:</h3>
    </div>

    <div class="inner-row">
      <div class="inner-row-item">
        <p class="item-inner-scr">Combo explosion animation</p>
      </div>
      <div class="inner-row-item aa">
        <p class="item-inner-scr">Lollipop booster in action</p>
      </div>
      <div class="inner-row-item ab">
        <p class="item-inner-scr">Gummy Grove map overview</p>
      </div>
      <div class="inner-row-item ac">
        <p class="item-inner-scr">Relax Mode interface with soft backgrounds</p>
      </div>
      <div class="inner-row-item ad">
        <p class="item-inner-scr">Marshmallow Bay level with high complexity</p>
      </div>
    </div>
  </div>
</section>
