<section id="screenshots">
  <div class="container">
    <h2 class="candy-title">Screenshots</h2>
    <h3 class="motto-candy">Screenshots & promo visuals:</h3>

    <div class="swiper">
      <div class="swiper-wrapper scr-list-container">
        <div class="swiper-slide scr-slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/phones_desk.png    1x,
                /img/screenshots/phones_desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/screenshots/samsung11_mob.png    1x,
                /img/screenshots/samsung11_mob@2x.png 2x
              "
            />
            <img
              src="/img/screenshots/samsung11_mob.png"
              alt="phones with screenshots game"
            />
          </picture>
          <div class="inner-row-item">
            <p class="item-inner-scr">Combo explosion animation</p>
          </div>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/phones_desk.png    1x,
                /img/screenshots/phones_desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/screenshots/samsung12_mob.png    1x,
                /img/screenshots/samsung12_mob@2x.png 2x
              "
            />
            <img
              src="/img/screenshots/samsung12_mob.png"
              alt="phones with screenshots game"
            />
          </picture>
          <div class="inner-row-item">
            <p class="item-inner-scr">Gummy Grove map overview</p>
          </div>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/phones_desk.png    1x,
                /img/screenshots/phones_desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/screenshots/samsung13_mob.png    1x,
                /img/screenshots/samsung13_mob@2x.png 2x
              "
            />
            <img
              src="/img/screenshots/samsung13_mob.png"
              alt="phones with screenshots game"
            />
          </picture>
          <p class="slide-description">Gummy Grove map overview</p>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/phones_desk.png    1x,
                /img/screenshots/phones_desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/screenshots/samsung14_mob.png    1x,
                /img/screenshots/samsung14_mob@2x.png 2x
              "
            />
            <img
              src="/img/screenshots/samsung14_mob.png"
              alt="phones with screenshots game"
            />
          </picture>
          <p class="slide-description">
            Relax Mode interface with soft backgrounds
          </p>
        </div>
        <div class="swiper-slide slide-container">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/screenshots/phones_desk.png    1x,
                /img/screenshots/phones_desk@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/screenshots/samsung15_mob.png    1x,
                /img/screenshots/samsung15_mob@2x.png 2x
              "
            />
            <img
              src="/img/screenshots/samsung15_mob.png"
              alt="phones with screenshots game"
            />
          </picture>
          <p class="slide-description">
            Marshmallow Bay level with high complexity
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
