<section id="terms">
  <div class="container">
    <a href="./index.html" class="custom-link-button-pol">
      <span class="inner-custom-link-button-pol">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/cookies-policy/element_pink_lg_button_desc.png    1x,
              /img/cookies-policy/Element_pink_lg_button_desc@2x.png 2x
            "
          />
          <source
            media="(max-width: 1199px)"
            srcset="
              /img/cookies-policy/element_pink_lg_button_mob.png    1x,
              /img/cookies-policy/element_pink_lg_button_mob@2x.png 2x
            "
          />
          <img
            class="button-icon-pol"
            src="/img/cookies-policy/element_pink_lg_button_mob.png"
            alt="icon"
            width="24"
            height="24"
          />
        </picture>
        <span class="button-text-pol">Go to home</span>
      </span>
    </a>
    <div class="content-wrapper-pol">
      <div class="content-block-pol">
        <h2 class="title-pol">Terms and Conditions</h2>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">
          Last Updated: <span class="body-text-pol">2025-05-16</span>
        </p>
      </div>
      <div class="content-block-pol">
        These Terms and Conditions apply to the caramelwizardmatch.com website
        (hereinafter referred to as "Website"). By accessing or using our
        services, you agree to comply with and be bound by these Terms and
        Conditions. Please review them carefully before using our Website.
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">1. Acceptance of Terms</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          By accessing or using our Website, you acknowledge that you have read,
          understood, and agree to be bound by these Terms and Conditions. If
          you do not agree, please do not use the Website.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">2. Intellectual Property</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          All content, including text, images, graphics, and trademarks, belongs
          to this website or its licensors and is protected by applicable
          copyright and trademark laws. Unauthorized reproduction, modification,
          or distribution is prohibited.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          Any unauthorized commercial use, resale, or redistribution of the
          Website's content, including but not limited to its design, layout, or
          code, is strictly prohibited.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">3. User Obligations</p>
        <ul class="list-pol body-text-pol">
          <li class="list-body-text-pol">
            You agree not to use the Website for any unlawful purposes.
          </li>
          <li class="list-body-text-pol">
            You must not attempt to interfere with the proper working of the
            Website.
          </li>
          <li class="list-body-text-pol">
            Any attempt to reverse-engineer, decompile, or extract the source
            code is strictly prohibited.
          </li>
        </ul>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          You may not use automated systems, bots, or scripts to access or
          interact with the Website in any way that violates Google's policies
          on spam and automated queries.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">
          4. Third-Party Services and External Links
        </p>
        <p class="body-text-pol eight-pol">
          Please note that the Application utilizes third-party services that
          have their own Terms and Conditions. Below are the links to the Terms
          and Conditions of the third-party service providers used by the
          Application:
        </p>
        <ul class="list-pol eight-pol">
          <li class="manage-list-item-pol">
            <a href="https://policies.google.com/terms" target="_blank"
              >Google Play Services</a
            >
          </li>
          <li class="manage-list-item-pol">
            <a href="https://www.google.com/analytics/terms/" target="_blank"
              >Google Analytics for Firebase</a
            >
          </li>
          <li class="manage-list-item-pol">
            <a
              href="https://mbasic.facebook.com/legal/terms/plain_text_terms/"
              target="_blank"
              >Facebook</a
            >
          </li>
        </ul>
        <p class="body-text-pol eight-pol">
          By clicking on third-party links, you acknowledge that these services
          operate under their own terms and policies. We are not responsible for
          any data collection, practices, or content on these external sites.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">5. Limitation of Liability</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol"></p>
        We are not responsible for any direct, indirect, incidental, or
        consequential damages arising from the use of our Website.
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          We do not guarantee uninterrupted or error-free operation of the
          Website. We are not liable for any loss of data, business
          interruptions, or security breaches that may occur.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">6. Privacy and Data Usage</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          The Website may collect and process personal data as described in our
        </p>
        <a class="links-pol" href="./privacy-policy.html">Privacy Policy.</a>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          We do not sell or rent your personal data to third parties. We only
          share data with partners for analytics, security, and functionality
          improvements.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-polisy-pol">7. Changes to Terms</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          We reserve the right to modify these Terms at any time. Continued use
          of the Website after changes signifies acceptance of the updated
          Terms.
        </p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          Users will be notified of material changes to these terms via an
          update on the Website or through email (if provided).
        </p>
      </div>
      <div class="content-block-pol">
        <p class="title-block-pol">8. Contact Us</p>
      </div>
      <div class="content-block-pol">
        <p class="body-text-pol">
          If you have any questions or suggestions about the Terms and
          Conditions, please do not hesitate to contact us at
          <a
            class="links-pol policy-contact-link-pol"
            href="mailto:info@caramelwizardmatch.com"
            >info@caramelwizardmatch.com</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
