<section id="sweet">
  <div class="container">
    <h2 class="sweet-title">The Sweet Experience</h2>
    <p class="sweet-paragraph">What Makes Candy Match 3 So Addictive?</p>
    <div class="container-list">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="
            /img/the-sweet-experience/phone-girl-desktop.png    1x,
            /img/the-sweet-experience/phone-girl-desktop@2x.png 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /img/the-sweet-experience/girl-phone-mobile.png    1x,
            /img/the-sweet-experience/girl-phone-mobile@2x.png 2x
          "
        />
        <img
          src="/img/the-sweet-experience/girl-phone-mobile.png"
          alt="girl width phone"
        />
      </picture>
      <ul class="advantages-list">
        <li class="advantages-item">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>
          <div>
            <h3 class="advantages-title">Crave-worthy visuals.</h3>
            Every candy shines with high-gloss deliciousness
          </div>
        </li>
        <li class="advantages-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>
          <div>
            <h3 class="advantages-title">Smart match mechanics.</h3>
            Strategic gameplay, intuitive flow
          </div>
        </li>
        <li class="advantages-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>
          <div>
            <h3 class="advantages-title">Zero stress.</h3>
            No timers, no rush, just satisfaction
          </div>
        </li>
        <li class="advantages-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>
          <div>
            <h3 class="advantages-title">Thousands of handcrafted levels.</h3>
            New ones added biweekly
          </div>
        </li>
        <li class="advantages-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>
          <div>
            <h3 class="advantages-title">Explosive combos.</h3>
            Chain reactions you’ll want to see again
          </div>
        </li>
        <li class="advantages-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>
          <div>
            <h3 class="advantages-title">Ever-changing islands.</h3>
            From caramel jungles to soda volcanoes
          </div>
        </li>
        <li class="advantages-item">
          <picture
            ><source
              media="(min-width: 1200px)"
              srcset="
                /img/the-sweet-experience/lolipop-desktop.png    1x,
                /img/the-sweet-experience/lolipop-desktop@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /img/the-sweet-experience/lolipop-mobile.png    1x,
                /img/the-sweet-experience/lolipop-mobile@2x.png 2x
              "
            />
            <img
              src="/img/the-sweet-experience/lolipop-mobile.png"
              alt="lolipop"
            />
          </picture>

          <div>
            <h3 class="advantages-title">Perfect for all ages.</h3>
            Easy to pick up, fun to master
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
