#candy .swiper {
  overflow: hidden;
  min-height: 232px;
}

.container-slide .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

#candy .swiper-pagination-bullet {
  border-radius: 8px;
  width: 24px;
  height: 4px;
  background-color: var(--white);
  opacity: 1;
}

#candy .swiper-pagination-bullet-active {
  background-color: var(--bright-navy);
}

@media screen and (min-width: 1200px) {
  .list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    row-gap: 40px;
    transform: none;
    transition: none;
  }

  .slide-container {
    width: calc((100% - 48px) / 3);
  }

  #candy .swiper-pagination {
    display: none;
  }
}

#candy {
  padding-top: 60px;
}

.candy-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}

.motto-candy {
  font-size: 22px;
  text-align: center;
  color: var(--black);
  margin-bottom: 16px;
}

.each-world {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  #candy {
    padding-top: 80px;
    scroll-margin-top: 40px;
  }

  .candy-title {
    font-size: 44px;
    margin-bottom: 32px;
  }

  .motto-candy {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.slide-img {
  border: 8px solid var(--pink-hover);
  border-radius: 169px;
  width: 288px;
  height: 140px;
  object-fit: cover;
  background-color: var(--pink-hover);
}

.slide-container {
  text-align: center;
}

.span-description {
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
}

.slide-description {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .slide-img {
    width: 336px;
    height: 241px;
  }
}

.last-item-container {
  position: relative;
  border: 6px solid #f75497;
  border-radius: 128px;
  padding: 28px 68px;
  width: 288px;
  max-height: 140px;
  background-color: var(--pink);
  text-align: center;
}

.last-paragraph-swiper {
  font-weight: 700;
  width: 152px;
  color: var(--black);
}

.last-img {
  position: absolute;
  right: 16px;
  top: 102px;
}

.desktop-container-cK {
  display: none;
}

@media screen and (min-width: 1200px) {
  .last-item-container {
    border-radius: 169px;
    padding: 89px 67px;
    width: 336px;
    max-height: 241px;
  }

  .last-paragraph-swiper {
    width: 202px;
  }

  .last-item-container img {
    right: 0;
    top: 168px;
  }

  #candy .sw-ck {
    display: none;
  }
  .desktop-container-cK {
    display: flex;
  }
}
