#daily {
  padding-top: 60px;
}
/* title and text */
#daily h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}

#daily h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  color: var(--black);
}
/* Wrappers */
.wrap-title-daily {
  margin-bottom: 24px;
}
.wrap-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
  border: 6px solid var(--pink-hover);
  border-radius: 128px;
  width: 202px;
  height: 202px;
  background: var(--pink);
}
.daily-flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.daily-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.daily-item {
  width: 136px;
}
.bottom-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.bottom-row .daily-item {
  flex: 0 0 calc(50% - 8px); /* 2 */
}

.bottom-row .daily-item:nth-child(3) {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

/* Items with description */
.wrap-span-text {
  font-weight: 700;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 26px;
}
.illustration-daily {
  border: 5.1px solid var(--pink);
  border-radius: 148px;
  width: 136px;
  height: 136px;
  box-shadow: 0 0 5px 0 var(--pink-hover);
  margin-bottom: 8px;
}
.daily-item-text {
  text-align: center;
}
/* Desktop version */
@media only screen and (min-width: 1200px) {
  /* title and text */
  #daily {
    padding-top: 80px;
    scroll-margin-top: 24px;
  }
  #daily h2 {
    font-size: 44px;
    margin-bottom: 32px;
  }

  #daily h3 {
    font-size: 28px;
    line-height: 1.2;
  }
  /* Wrappers */
  .wrap-text-container {
    border: 8px solid var(--pink-hover);
    border-radius: 149px;
    width: 246px;
    height: 246px;
    box-shadow: 0 0 8px 0 var(--pink-hover);
    background: var(--pink);
  }

  .wrap-span-text {
    font-weight: 700;
    text-align: center;
    padding-top: 102px;
    padding-bottom: 52px;
  }
  .illustration-daily {
    border: 8px solid var(--pink);
    border-radius: 148px;
    width: 136px;
    height: 136px;
    box-shadow: 0 0 5px 0 var(--pink-hover);
    margin-bottom: 8px;
  }
}
.daily-flex-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.daily-flex-wrapper .daily-item {
  flex-basis: 136px;
}

/* desktop */
@media (min-width: 1200px) {
  #daily {
    padding-top: 80px;
    scroll-margin-top: 40px;
    text-align: center;
  }
  #daily h2 {
    font-size: 44px;
    margin-bottom: 32px;
  }

  #daily h3 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .illustration-daily {
    border: 8px solid var(--pink);
    border-radius: 148px;
    box-shadow: 0 0 5px 0 var(--pink-hover);
    margin-bottom: 8px;
    width: 246px;
    height: 246px;
  }
  .daily-flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .daily-flex-wrapper .daily-item {
    flex-basis: 246px;
  }
  .wrap-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrap-span-text {
    padding-top: 112px;
    padding-bottom: 16px;
  }
}
