#home {
  padding-top: 16px;
  scroll-margin-top: 40px;
}
.container-home {
  background-image: url('/img/home/home-mob.png');
  background-size: cover;
  padding-bottom: 24px;
  border-radius: 33px;
  box-shadow: -1px 3px 20px 5px var(--pink-hover);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container-home {
    background-image: url('/img/home/home-mobile@2x.png');
  }
}

@media screen and (min-width: 1200px) {
  .container-home {
    background-image: url('/img/home/home-desktop.png');
    padding-left: 90px;
    padding-top: 30px;
  }

  #home {
    scroll-margin-top: 100px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .container-home {
      background-image: url('/img/home/home-desktop@2x.png');
    }
  }

  #home {
    padding-top: 40px;
  }
}

.home-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--bright-navy);
  padding: 24px 16px 0 16px;
  text-align: left;
  align-self: stretch;
}

@media screen and (min-width: 1200px) {
  .home-title {
    font-size: 48px;
    padding: 0;
  }
}

.home-title span {
  display: block;
}

@media screen and (min-width: 1200px) {
  .home-title span {
    display: inline;
  }
  .home-title span:nth-of-type(1)::after {
    content: '\A';
    white-space: pre;
  }
}

.home-paragraph-one br {
  display: none;
}

.home-paragraph-one {
  color: var(--black);
  margin-top: 24px;
  padding: 0 16px 0 16px;
}

.home-paragraph-one br:nth-child(2) {
  display: block;
}

.home-paragraph-two {
  color: var(--black);
  padding: 0 152px 0 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .home-paragraph-one br {
    display: block;
  }

  .home-paragraph-one br:nth-child(2) {
    display: none;
  }

  .home-paragraph-one {
    margin-top: 40px;
    padding: 0;
  }

  .home-paragraph-two {
    width: 426px;
    padding: 0;
    margin-top: 24px;
    margin-bottom: 40px;
  }
}

.play-link {
  display: flex;
  gap: 8px;
  justify-content: center;
  border: 4px var(--pink-hover) solid;
  border-radius: 32px;
  background-color: var(--peach);
  padding: 8px 12px;
  font-size: 14px;
  max-width: 249px;
  margin: 0 auto;
  white-space: nowrap;
  transition: border-color 200ms ease-in-out;
}

.play-link:hover {
  border-color: var(--bright-navy);
}

.wrapper-link {
  outline: 2px var(--peach) solid;
  border-radius: 32px;
  max-width: 249px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .play-link {
    max-width: 336px;
    align-items: center;
  }
  .play-link picture {
    width: 24px;
  }

  .wrapper-link {
    margin: 0;
  }
}
