#home {
  padding-top: 16px;
}
.container-home {
  background-image: image-set(
    url('/img/home/home-mobile.png') 1x,
    url('/img/home/home-mobile@2x.png') 2x
  );
  background-size: cover;
  padding-bottom: 24px;
  border-radius: 24px;
}

@media screen and (min-width: 1200px) {
  .container-home {
    background-image: image-set(
      url('/img/home/home-desktop.png') 1x,
      url('/img/home/home-desktop@2x.png') 2x
    );
  }
}

.home-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: var(--bright-navy);
  padding: 24px 16px 0 16px;
  text-align: left;
  word-wrap: break-word;
  align-self: stretch;
}

.home-title span {
  display: block;
}

.home-paragraph-one {
  color: var(--black);
  margin-top: 24px;
  padding: 0 16px 0 16px;
}

.home-paragraph-two {
  color: var(--black);
  padding: 0 152px 0 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.play-link {
  display: flex;
  gap: 8px;
  justify-content: center;
  border: 4px var(--pink-hover) solid;
  border-radius: 32px;
  background-color: var(--peach);
  padding: 8px 12px;
  font-size: 14px;
  max-width: 249px;
  margin: 0 auto;
  white-space: nowrap;
  transition: border-color 200ms ease-in-out;
}

.play-link:hover {
  border-color: var(--bright-navy);
}

.wrapper-link {
  outline: 2px var(--peach) solid;
  border-radius: 32px;
  max-width: 249px;
  margin: 0 auto;
}
