#how {
  padding-top: 60px;
}

.how-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: var(--black);
}

.how-paragraph {
  font-size: 22px;
  text-align: center;
  color: var(--black);
  margin-top: 24px;
}

@media screen and (min-width: 1200px) {
  #how {
    padding-top: 80px;
    scroll-margin-top: 40px;
  }

  .how-title {
    font-size: 44px;
  }

  .how-paragraph {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 32px;
  }
}

.how-container-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 24px;
}

.how-container-list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.first-list {
  order: 1;
}

.second-list {
  order: 2;
}

.text-container {
  order: 3;
}

@media screen and (min-width: 1200px) {
  .how-container-list {
    flex-direction: row;
    gap: 24px;
  }

  .first-list {
    order: 1;
  }

  .text-container {
    order: 2;
  }

  .second-list {
    order: 3;
  }

  .how-container-list ul {
    gap: 8px;
  }
}

.first-list .how-list-item:first-of-type span {
  padding-left: 18px;
}

.span-for-list {
  font-weight: 700;
  font-size: 31px;
  line-height: 1;
  color: var(--white);
  padding-left: 14px;
  padding-right: 24px;
  z-index: 3;
}

.how-list-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.how-list-item img {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 22px;
}

.second-list .how-list-item:nth-child(2) img {
  bottom: 5px;
}

.text-container {
  border: 6px solid var(--pink-hover);
  border-radius: 128px;
  padding: 28px 68px;
  background-color: var(--pink);
  position: relative;
  text-align: center;
}

.text-container img {
  position: absolute;
  right: 0;
}

.span-text-container {
  font-weight: 700;
  color: var(--black);
}

@media screen and (min-width: 1200px) {
  .first-list .how-list-item:first-of-type span {
    padding-left: 36px;
  }

  .span-for-list {
    font-size: 70px;
    line-height: 1.37;
    padding-left: 26px;
    padding-right: 39px;
  }

  .how-list-item img {
    width: 46px;
    bottom: 25px;
  }

  .text-container {
    border: 8px solid #f75497;
    border-radius: 169px;
    padding: 89px 67px;
    max-width: 336px;
  }

  .second-list .how-list-item:nth-child(2) img {
    bottom: 25px;
  }

  .span-text-container {
    display: block;
    width: 202px;
  }

  .text-container img {
    bottom: -34px;
    right: -8px;
  }
}
