#screenshots {
  padding-top: 60px;
  background-image: url('../img/screenshots/pinc_frame_mob.png');
  background-repeat: no-repeat;
  background-size: 100% 198px;
  background-position: bottom center;
  width: 100%;
}

/* title and text */
#screenshots h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: var(--black);
}

#screenshots h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  color: var(--black);
  margin: 24px 0;
}

/* swiper */
#screenshots .swiper {
  overflow: hidden;
  min-height: 232px;
}

#screenshots .swiper-pagination {
  padding: 0px 0px 16px 0px;
  width: 288px;
  height: 20px;
}
#screenshots .swiper-pagination-bullet {
  border-radius: 8px;
  width: 24px;
  height: 4px;
  background-color: var(--white);
  opacity: 1;
}

#screenshots .swiper-pagination-bullet-active {
  background-color: var(--bright-navy);
}
/* Wrappers */
.desktop-screenshot-row {
  display: none;
}

#screenshots .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 468px;
}

.inner-row-item {
  border-radius: 32px;
  width: 148px;
  height: 95px;
  background: rgba(254, 254, 254, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scr-slide-container img {
  width: 160px;
  height: 336px;
}

.scr-slide-container {
  text-align: center;
}

.scr-slide-description {
  margin-top: 8px;
}

@media (max-width: 1199px) {
  #screenshots .sw-scr {
    display: block;
  }

  .desktop-screenshot-row {
    display: none;
  }
}

/* Desktop version */
@media only screen and (min-width: 1200px) {
  /* title and text */
  #screenshots {
    padding-top: 80px;
    scroll-margin-top: 40px;
  }
  #screenshots h2 {
    font-size: 44px;
  }

  #screenshots h3 {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  /* Wrappers */
  #screenshots {
    background-image: url('/img/screenshots/pinc_frame_desk.png');
    background-repeat: no-repeat;
    background-size: 100% 182px;
    background-position: bottom center;
  }
  #screenshots .sw-scr {
    display: none;
  }
  .desktop-screenshot-row {
    display: flex;
    gap: 24px;

    align-items: center;
    width: 1200px;
    flex-wrap: nowrap;
    padding-bottom: 24px;
    margin: 0 auto;
  }

  .scr-slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 191px;
  }
}
